<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <title>App & Me</title>
	<link rel="shortcut icon" href="img/favicon.ico">
<link rel="stylesheet" href="css/join.css">
</head>

<body style="overflow-x:hidden">
  <header>
    <img src="img/logo.png" onclick="location.href='index.html'" style="cursor: pointer; width : 100px; height : 50px;">
    <span onclick="location.href='login.html'" style="cursor: pointer; margin-left: 15%;">로그인</span>
    <span style="margin-left: 1%; color: #FF6384; cursor: pointer" onclick="location.href='submit.php'">회원가입</span>
  </header>
  <div class="margin">
    <div class="title">회원가입</div>
    <hr id="title_hr">
  </div>
  <div class="margin">
    <center>
      <div class="box">
        <form class="login-form" action="" method="post">
          <table width="95%" class="list-table">
            <tr class="content">
              <td>이름</td>
              <td><input id="name" type="text" name="userName" size="50" placeholder="김미림" required>
              </td>
            </tr>
            <tr class="content">
              <td>아이디</td>
              <td><input id="userid" type="text" name="userId" size="50" placeholder="mirim" required>
              </td>
            </tr>
            <tr class="content">
              <td>비밀번호</td>
              <td><input id="userpass" type="password" name="userPassword" size="50" required>
              </td>
            </tr>
          </table>
          <input type="submit" class="apply" value="가입하기" onclick="location.href='submitaction.php'" style="cursor: pointer;">
        </form>
      </div>
      
    </center>
    <script language="javascript">
      //글자수 제한 체크 
      function len_chk() {
        var frm = document.apply.reason;
        var frm2 = document.apply.todo;
        if (frm.value.length > 400) {
            alert("글자수는 200자로 제한됩니다.");
            frm.value = frm.value.substring(0, 400);
            frm.focus();
        } else if (frm2.value.length > 400) {
            alert("글자수는 200자로 제한됩니다.");
            frm2.value = frm2.value.substring(0, 400);
            frm2.focus();
        }
      }
      //글자수 카운트
      $(document).ready(function() {
        $('#test').on('keyup', function() {
            $('#test_cnt').html("("+$(this).val().length+" / 200)");
 
            if($(this).val().length > 200) {
                $(this).val($(this).val().substring(0, 200));
                $('#test_cnt').html("(200 / 200)");
            }
        });
    });
    </script>
</body>

</html>