<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <title>noodle.zip</title>
	<link rel="shortcut icon" href="img/favicon.ico">
<link rel="stylesheet" href="/login.css">
<link rel="stylesheet" href="/list.css">
</head>

<body style="overflow-x:hidden">
  <header>
    <img src="/logo.png" onclick="location.href='/'" style="cursor: pointer; width : 100px; height : 50px;">
    <span onclick="location.href='/login'" style="cursor: pointer; margin-left: 15%;">로그아웃</span>
    <span onclick="location.href='/memo'" style="cursor: pointer; margin-left: 1%;">메모쓰기</span>
    <span style="margin-left: 1%; color: #FF6384; cursor: pointer" onclick="location.href=''">나의메모</span>
  </header>



  <div class="margin">
    <div class="title">나의 메모</div>
    <hr id="title_hr">
  </div>


  <!-- 메모 리스트 테이블 -->
  <div class="margin">
    <center>
        <table>
            <tr>            
                <th>순번</th>
                <th>제목</th>
                <th>내용</th>
            </tr>     
            <table>
   
              <% memos.forEach(function (item, index){ %> 
                  <tr onClick="location.href='<%=item.memoId %>/<%= item.userId %>'">       
                  <td><%=item.memoId %></td>
                  <td><%=item.memoTitle  %> </td>
                  <td><%=item.memoContent  %> </td>
               
          
              </tr>
              <%  }); %>
          </table>  
         
        </table>     


      
    </center>
</body>

</html>